<div>
    <h2 id="page-heading">
        <span jhiTranslate="basicCrudApp.applicationMenu.home.title">Application Menus</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-application-menu" [routerLink]="['/application-menu/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="basicCrudApp.applicationMenu.home.createLabel">
            Create a new Application Menu
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="applicationMenus?.length === 0">
        <span jhiTranslate="basicCrudApp.applicationMenu.home.notFound">No applicationMenus found</span>
    </div>
    <div class="table-responsive" *ngIf="applicationMenus?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="parentId"><span jhiTranslate="basicCrudApp.applicationMenu.parentId">Parent Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="basicCrudApp.applicationMenu.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="englishText"><span jhiTranslate="basicCrudApp.applicationMenu.englishText">English Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="frenchPath"><span jhiTranslate="basicCrudApp.applicationMenu.frenchPath">French Path</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="role"><span jhiTranslate="basicCrudApp.applicationMenu.role">Role</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="order"><span jhiTranslate="basicCrudApp.applicationMenu.order">Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let applicationMenu of applicationMenus ;trackBy: trackId">
                <td><a [routerLink]="['/application-menu', applicationMenu.id, 'view' ]">{{applicationMenu.id}}</a></td>
                <td>{{applicationMenu.parentId}}</td>
                <td>{{applicationMenu.name}}</td>
                <td>{{applicationMenu.englishText}}</td>
                <td>{{applicationMenu.frenchPath}}</td>
                <td>{{applicationMenu.role}}</td>
                <td>{{applicationMenu.order}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/application-menu', applicationMenu.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/application-menu', applicationMenu.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(applicationMenu)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
